<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="APACHE_HOME" value="c:\Program Files\Apache Software Foundation\Apache2.2\"/>
  </appSettings>
  
    <connectionStrings>
        <add name="ApacheLogMonitor.Properties.Settings.ApacheLogsConnectionString"
            connectionString="Data Source=JACEK-SKABUK24A\SQLEXPRESS;Initial Catalog=ApacheLogs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>